# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
.venv/
env/
venv/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
